.content {
    display: flex;
    flex-direction: column;
    background-color: #373867;
}

.track {
    font-size: 16px;
    font-weight: 700;
    padding: 40px 30px 20px 30px;
    color: #AACE9B;
}

.landing-article {
    display: none;
}

.hr {
    display: flex;
    margin: 0 10% 0 10%;
    justify-content: center;
    padding: 3% 2%;
    border-radius: 58px;
    background-color: rgba(170, 206, 155, 0.82);
}

.hr p {
    padding: 5% 10%;
    text-align: justify;
    color: #373867;
}

.why-trackgenix {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 40px 30px 20px 30px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
    background-color: #373867;
}

.why-trackgenix h3 {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.why-trackgenix p {
    margin: 10px 0px;
}

.uppercase {
    text-transform: uppercase;
    text-align: center;
}

.circles {
    display: none;
}

.circle-1, .circle-2, .circle-3, .circle-4 {
    display: none;
}

.squares {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #373867;
    padding: 10px 45px 10px 45px;
}

.square-1, .square-2, .square-3, .square-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 125px;
    height: 125px;
    margin: 4% 4%;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    background-color: #AACE9B;
}

.square-4 {
    order: -1;
}

.history {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-bottom: 20px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    background-color: rgba(217, 217, 217, 0.28);
}

.history h3 {
    align-items: center;
    text-align: center;
    margin: 30px 0 30px 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 30px;
}

.history p {
    padding: 0px 40px 20px 40px;
    margin: 0px 5px;
}

.form  {
    display: flex;
    flex-direction: column;
    margin: 10px 45px 10px 45px;
}

.form h3 {
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 20px;
    color:  rgba(0, 0, 0, 0.8);
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0px;
}

.form-group ::placeholder {
    padding: 8px;
}

.form-group label {
    display: inline;
    font-weight: bold;
}

.form-group input {
    display: inline;
}

.form-group input[type="radio"] {
    display: inline;
    width: 16px;
    color: #373867;
}

.form-group input[type="radio"] + label {
    display: inline;
}

.form-group textarea{
    height: 72px;
}

.form-group button {
    height: 37px;
    background-color: #AACE9B;
    color: #FFF;
    border: none;
}

.change {
    display: flex;
    display: inline;
    color: #373867;
}

.history-2 {
    display: none;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.row {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
    margin: 10px;
}

.row p {
    font-weight: bold;
}

.contact2 {
    margin: 60px 28px;
}

.contact2 h3 {
    font-weight: bold;
    font-size: 30px;
    padding-left: 40px;
}

.contact2 p {
    display: inline;
    margin-left: 10px;
}

.contact2 fieldset {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

@media screen and (min-width: 480px) {
    .content {
        display: flex;
        flex-direction: column;
    }
    
    .track {
        display: inline;
        width: 70%;
        font-size: 40px;
        z-index: 1;
    }

    .landing-article {
        display: inline;
        width: 78%;
        height: auto;
        z-index: 0;
        border-radius: 0px 77px 77px 0px;
    }

    .hr {
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: right;
        padding: 15px 20px;
        text-align: right;
        font-size: 24px;
        margin: 0 0 0 40%;
    }

    .trackgenix-circles {
        display: flex;
        flex-direction: row;
    }

    .why-trackgenix {
        font-size: 32px;
        text-align: left;
    }

    .why-trackgenix h3 {
        font-size: 48px;
        color: #AACE9B;
        text-align: left;
    }

    .uppercase {
        text-align: right;
    }

    .circles {
        display: flex;
        flex-direction: column;
        justify-content: left;
        justify-content: space-evenly;
        background-color: #373867;
        padding-right: 3%;
        padding-left: 2%;
    }

    .circle-1, .circle-2, .circle-3, .circle-4 {
        display: flex;
        align-items: center;
        text-align: center;
        width: 150px;
        height: 150px;
        background-color: #373867;
        border: 10px solid #707070;
        border-radius: 50%;
        font-size: 20px;        
    }

    .circles p {
        color: #D9D9D9
    }

    .circles span {
        color: #AACE9B;
    }

    .squares {
        justify-content: center;
        background-color: #FFF;
        margin: 5% 12,25%;
        padding: 5%;
    }

    .square-1, .square-2, .square-3, .square-4 {
        width: 190px;
        height: 190px;
        padding: 2%;
        margin: 3%;
    }

    .square-4 {
        order: 0;
}

    .history {
        display: none;
    }

    .history-2 {
        display: flex;
        flex-direction: column;
        padding: 0px 50px 20px 50px;
        margin: 5% 15%;
        text-align: justify;
        border-radius: 10px;
        font-weight: 400;
        font-size: 14px;
        background-color: rgba(217, 217, 217, 0.28);
    }

    .history-2 h3 {
        align-items: center;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        padding-bottom: 20px;
    }

    .contact2 {
        margin-left: 30%;
    }
}

@media screen and (min-width: 770px) {
    .squares {
        justify-content: center;
        background-color: #FFF;
        margin: 5% 12,25%;
        padding: 5%;
    }

    .square-1, .square-2, .square-3, .square-4 {
        width: 190px;
        height: 190px;
        padding: 2%;
        margin: 8%;
    }
}

@media screen and (min-width: 1024px) {
    .not-sidebar {
        display: flex;
        display: inline-block;
    }

    .content {
        background-color: #D9D9D9 ;
    }

    .why-trackgenix h3 {
        font-weight: 400;
        color: #000;
        text-align: center;
    }

    .why-trackgenix {
        color: #373867;
        background-color: #D9D9D9;
    }

    .circles {
        background-color: #D9D9D9;
        width: 100%;
    }

    .circle-2, .circle-4 {
        display: flex;
        margin-left: 35%;

    }

    .squares {
        flex-wrap: nowrap;
        background-color: #D9D9D9;
    }

    .square-1, .square-2, .square-3, .square-4 {
        width: 190px;
        height: 190px;
        padding: 2%;
        margin: 3%;
        }

    .history {
        display: flex;
        margin: 5% 10% 0 10%;
        font-size: 24px;
    }

    .history h3 {
        color: #373867;
        font-size: 48px;
    }

    .form {
        margin: 5% 15%;
    }

    .form ::placeholder {
        font-size: 25px;
    }

    .form h3 {
        font-size: 25px;
    }

    .form-group label {
        font-size: 30px;
    }

    .form input {
        padding: 5px;
        height: 60px;
        border: 1px solid #000;
    }

    .form textarea {
        border: 1px solid #000;
    }

    .columns {
        font-size: 25px;
        margin-bottom: 5%;
    }

    .history-2 {
        display: none;
    }

    .contact2 {
        display: none;
    }
}