* {
    box-sizing: border-box;
    font-family: Poppins;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.red-border {
   border-color: #F13A3D;
}

.green-border {
    border-color: #06C552;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 8.6%;
    font-family: Poppins;
    background-color: #373867;
}

h1 {
    padding: 20px 35px;
    font-size: 30px;
    font-weight: 600;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
    display: flex;
    align-self:flex-start;
    margin-left: 12%;
    padding: 22px 0px;
    font-size: 30px;
    font-weight: 400;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

span {
    font-weight: bold;
}

input {
    display: block;
    width: 294px;
    height: 60px;
    padding-left: 26px;
    margin: 5px 0px 5px 0px;
    background-color: #F6F6F6;
    border: none;
    border-radius: 15px;
    
}

input[type=checkbox] {
    display: inline;
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

label {
    display: inline;
    font-weight: 300;
    font-size: 12px;
}

s

.login-img {
    display: none;
}

.container {
    display: flex;
    flex-direction: row;
    
}

.p-1 {
    align-self:flex-start;
    display: inline;
    margin-left: 12%;
    font-size: 14px;
    color: #000;
}

.p-2 {
    display: inline;
    margin-left: 55px;
    font-weight: 300;
    font-size: 12px;
}

.login-button {
    justify-content: center;
    align-items: center;
    display: block;
    width: 294px;
    height: 60px;
    margin-top: 15px;
    color: #FFF;
    background-color: #373867;
    border: none;
    border-radius: 15px;
}

.google-login, .linkedin-login {
    display: none;
}

.arrow {
    display: inline;
    width: 20px;
    height: auto;
}

.container-home {
    margin-top: 15px;
}

.p-3 {
    display: inline;
    font-size: 14px;
}

.p-4 {
    margin: 55px 0px 12px 0px;
    font-size: 14px;
    color: #B5B5B5;
}

.google-icon {
    width: 30px;
    height: 30px;
    margin-right: 17.5px;
}

.linkedin-icon {
    width: 30px;
    height: 30px;
    margin-left: 17.5px;
}

.container-form {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media screen and (min-width: 480px) {
    header {
        height: 13.6%;
    }

    main {
        display: flex;
    }
    
    h1 {
        padding: 20px 64px;
        font-size: 48 px;
    }

    h2 {
        margin-left: 0;
        font-size: 24px;
    }

    input {
        width: 286px ;
        height: 60px;
        padding-left: 26px;
    }

    .p-1 {
        margin: 10px 0px;
        order: 1;
    }

    .container-form {
        align-items: center;
        padding: 10px;
        margin: 74px 35px 75px 0px;
        background-color: #FAFAFA;
        border-radius: 16px;
    }

    .container-img {
        display: flex;
    }

    .login-img {
        display: flex;
        justify-content: flex-start;
        align-self: center;
        width: 537px;
        height: auto;
    }

    .login-button {
        width: 286px;
        height: 60px;
    }

    .container-form {
        display: flex;
    }
}
