<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="timesheet, manage, track, login">
    <meta name="description" content="Timesheet tracking for business">
    <meta name="author" content="GigaTech Software Solutions">
    <title>Trackgenix by GigaTech | Login</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="">
</head>
<body>
    <header>

    </header>
    <main>
        <div class="login-title">
            <h1>Trackgenix</h1>
        </div>
        <div>
            <img src="assets/login/Login.png" alt="Timesheet-img">
        </div>
        <div>
            <form action="#">
                <h2>Sign In</h2>
                <p>New to Trackgenix? <span>Sign Up now</span></p>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <button type="submit">Login</button>
                <input type="checkbox" value="RememberMe" id="rememberMe"> <label for="rememberMe">Remember Me</label>
                <p>Forgot Password?</p>
                <button type="submit">Continue with Google</button>
                <button type="submit">Continue with LinkedIn</button>
                <p>New to Trackgenix? <span>Sign Up now</span></p>
            </form>
            <div>
                <p>or continue with</p>
                <img src="" alt="Google">
                <img src="" alt="LinkedIn">
            </div>
        </div>
    </main>
</body>
</html>