<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="timesheet, manage, track, login">
    <meta name="description" content="Timesheet tracking for business">
    <meta name="author" content="GigaTech Software Solutions">
    <title>Trackgenix by GigaTech | Login</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/sign-up.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
</head>
<body>
    <header>
        <h1>Trackgenix</h1>
    </header>
    <main>
        <div class="container-signup">
            <img src="../assets/signup/Signup.jpg" alt="Sign-up">
        </div>
        <div class="container-signup-form">
            <h2>Sign Up</h2>
            <p class="p-1">Already have an account?<span> Sign in</span></p>
            <form>
                <input type="text" placeholder="First name">
                <input type="text" placeholder="Last name">
                <input type="number" placeholder="ID">
                <input type="date" placeholder="Date of birth">
                <input type="number" placeholder="Phone number">
                <input type="text" placeholder="Address">
                <input type="text" placeholder="Location">
                <input type="number" placeholder="Zip code" >
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Retype password">
                <input type="checkbox" class="checkbox-input-signup-1" value="conditions" id="conditions">
                <label for="conditions" class="checkbox-label-signup-1">I agree to the terms and conditions</label>
                <button type="submit" class="signup-button">Sign up</button>
            </form>
        </div>
    </main>    
</body>
</html>