
header {
        font-family: Roboto, sans-serif;
        
        width: 1177px;
        height: 275.52px;
        left: 335px;
        position: absolute;
    
        background: #373867;
 }

 h1 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 128px;
    color: #FFFF;
    line-height: 150px;

    position: absolute;
    left: 64px;
  }

h2 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #000000;

    position: absolute;
    top: 222px;
    bottom: 34.52px;
    right: 427px;
   
}

body {
      font: normal 32px Inter, sans-serif;
      line-height: 52px;
      position: absolute;
}

.history {
          background-color: #D9D9D9 ;
          font-family: Roboto, sans-serif;
          width: 920px;
          height: 821px;
          top: 2452px;
          left: 466px;
          border-radius: 10px;
          margin: auto;
          padding: 68px 45px 0px 45px;
        }

.history h3 {
              font-family: Roboto;
              font-style: normal;
              font-weight: 700;
              font-size: 48px;
              line-height: 56px;
              text-align: center;
              color: #373867;
}

.form {
        background-color: #FFF;
        font-family: Roboto, sans-serif;
        width: 535px;
        height: 548px;
        top: 3352px;
        left: 658px;
        position: absolute;
        border-style: solid;
        border-color: #000000;
}

.form h3 { 

              font-family: Roboto, sans-serif;
              font-style: normal;
              font-size: 30px;
              font-weight: 700;
              line-height: 35px;

}

.form .form-group {
              font-size: 16px;
              padding-bottom: 22px;
}

.form label, .form input, .form textarea {
              display: block;
}


.form input {
            width: 344px;
            height: 44px;
            top: 3450px;
            left: 658px;
            border-radius: 8px;
}

.form input[type="submit"]{
  background-color: #AACE9B;
  color: #FFF;
}

footer {
        font-family: Roboto, sans-serif;
        
        width: 1515px;
        height: 180px;
        top: 4286px;

        box-sizing: border-box;
    
        background: #373867;
        position: absolute;
}