
*   {
      font-family: Roboto, sans-serif;
      box-sizing: border-box;  
    }

footer  {
          position: absolute;    

          width: 100%;
          height: 180px;

          background-color: #373867;
        }

h1  {
      position: absolute;
      top: 90px;
      left: 64px;

      font-family: Roboto, sans-serif;
      font-size: 128px;
      font-weight: 700;

      color: #FFF;
    }

h2  {
      position: absolute;

      bottom: 35px;
      right: 355px;

    }

header  {
          position: relative;

          float: right;
          width: 80%;
          height: 275.52px;

          background-color: #373867;
        }

#content  {
            margin-left: 20%;
          }

.main-1, .main-2  {
                    background-color: #D9D9D9;
                  }

.main-3, .main-4, .main-5 {
                            background-color: #FFF;
                          }

label {
        display: block;
      }

.history  {
            background-color: #FFF;
          }

#sidebar  {
            position: fixed;

            width: 20%;
            height: 100%;

            background-color: #707070;
          }     

#sidebar .contact {
                    position: inherit;
                    text-align: center;
                    bottom: 70px;
                  }

#search  {
            text-align: center;
            border-radius: 4px;
          }


.copyright  {
              position: absolute;
              bottom: 45px;
              left: 435px;
              font-family: Inter, sans-serif;
              font-size: 15px;
            
            }

.history  {
            width: 920px;
            height: 821px;
            padding: 68px 45px 0px 45px;

            background-color: #D9D9D9;
            border-radius: 10px;
          }

.history h3 {
              font-family: Roboto;
              font-style: normal;
              font-weight: 700;
              font-size: 48px;
              line-height: 56px;
              text-align: center;
              color: #373867;
            }
.hr {
            position: relative;
            left: 500px;
  
            width: 420px;
            height: 315px;
            padding: 40px 20px;

            font-size: 24px;
            align-content: right;
            letter-spacing: 0,125em;

            color: #373867;

            background-color: rgba(170, 206, 155, 0.82);
            border-radius: 20px 0px 0px 20px;
          }


.landing-img  {
                position: relative;
                width: 879px;
                height: 587px;
                top: 0px;

                border-radius: 0px 77px 77px 0px;
              }

.why-trackgenix {
                  position: relative;                

                  width: 667px;
                  height: 1012px;
                  left: 222px;

                  font-family: Inter, sans-serif;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 32px;

                  text-align: justify;
                  

                  color: #373867;
                }  

.header-img {
              width: 31px;
              height: 31px;
            }

.footer-img {
              width: 45px;
              height: 45px;
            }
                  
.linkedin-footer  {
                    position: absolute;
                    top: 35px;
                    left: 550px ;
                  }

.instagram-footer {
                    position: absolute;
                    top: 35px;
                    left: 610px;
                  }

.facebook-footer  {
                    position: absolute;
                    top: 35px;
                    left: 670px;
                  }

.twitter-footer {
                  position: absolute;
                  top: 35px;
                  left: 730px;
                }

.linkedin-header  {
                    position: absolute;
                    top: 30px;
                    right: 150px;
                  }  

.instagram-header {
                    position: absolute;
                    top: 30px;
                    right: 110px;
                  }     

.facebook-header  {
                    position: absolute;
                    top: 30px;
                    right: 70px;
                  }

.twitter-header {
                  position: absolute;
                  top: 30px;
                  right: 30px;
                }

.track  {
          position: relative;
          top: 150px;
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          color: #AACE9B;
          line-height: 47px;
          z-index: 2;
        }

.landing-img  {
                position: absolute;
                width: 879px;
                height: 587px;
                top: 356px;

                border-radius: 0px 77px 77px 0px;
                z-index: 1;
              }
