a {
    text-decoration: none;
    color: #FFF;
}

.sidebar {
    display: none;
}

.nav-icons {
    width: 20px;
    height: 20px;
    filter: invert();
}

@media screen and (min-width: 1024px) {

    .nav-icons {
        filter: none;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        background-color: #707070;
        height: 100%;
        width: 20%;
        padding: 2%;
    }

    .contact-p {
        font-size: 30px;
        font-weight: bold;
    }
}